@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap");

body {
  margin: 0;
  max-height: 100vh;
}

.App {
  font-family: roboto, sans-serif;
  text-align: center;
}
